<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ParaBank Automation Suite" verbose="1" parallel="false">

    <test name="UI - Sanity Tests">
        <groups>
            <run>
                <include name="smoke"/>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="com.bharatsaini882.parabank.tests.SanityTest"/>
           <class name="com.bharatsaini882.parabank.tests.HomePageTest"/>
            <class name="com.bharatsaini882.parabank.tests.LoginTest"/>
            <class name="com.bharatsaini882.parabank.tests.RegisterPageTest"/>
            <class name="com.bharatsaini882.parabank.tests.OpenNewAccountTest"/>
        </classes>
    </test>

</suite>
